.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#navbarStyling{
  color:rgb(234, 228, 255);
  text-decoration: NONE;
  border-left: rgb(247, 5, 126) solid 3px;
  padding-left: 10px;

}
.buttonImfo{
  color:rgb(255, 255, 255);
  text-decoration: none;
  /* width: 20px; */
}
.utilDarkBackdrop{
  background-color: #00091aa9;
  backdrop-filter: blur(5px);
}
.btnHoverClass{
  border-right: white solid 4px;
}